* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    font-size: 18px;
    width: 100%;
    min-height: 100vh;
    background: orange;
  }
  /* Container Drid*/
  
  .container {
    display: grid;
    gap: 10px;
    height: 100vh;
    padding: 10px;
    grid-template-columns: 1fr 1fr auto repeat(9, 1fr);
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
      'H H  H H H H H H H H H H'
      'S S  M M M M M M M M M M'
      'F F  F F F F F F F F F F';
  }
  /* Boxes Chils- grid Items*/
  .container > * {
    background-color: skyblue;
  
    /*align-items: center;
    justify-items: center;*/
  
    border: 1px solid red;
    word-wrap: break-word;
    padding: 10px;
  }
  .container > *:nth-child(1) {
    grid-area: H;
  }
  .container > *:nth-child(3) {
    grid-area: S;
    min-height: 300px;
  }
  .container > *:nth-child(2) {
    grid-area: M;
  }
  .container > *:nth-child(4) {
    grid-area: F;
  }
  .breadCrumb {
    display: flex;
  }
  .breadCrumb a {
    display: none;
  }
  .breadCrumb a.active {
    display: block;
  }
  